%body
  %h3 Would you like to take a look at your public GitHub profile information?
  #button
    %a{:href => "https://github.com/login/oauth/authorize?client_id=#{ENV['GITHUB_CLIENT_ID']}"}>Yes, please!
